body {
    background-color: #141414;
}
input{
    width: 300px;
}
.poster-box{
    list-style: none;
    position: relative;
    width: 342px;
    height: 513px;
    box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);
}
.poster-box img{
    width: 342px;
    height: 513px;
}
.details {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.9;
    visibility: hidden;
    overflow: auto; 
    /* text-overflow: ellipsis; */
}
.poster-box:hover .details{
    visibility: visible;
    border: 1px lightgray;
}
.overview{
    overflow: hidden;
}

/* utility clases */
.text-red{
    color: rgb(173, 1, 1);
}
.bg-black{
    background-color: black;
}
.text-white{
   color: #FFFFFF; 
}